<ion-view view-title="Angsuran">
    <ion-content>
        <div class="list">
		    <ion-item style="border-bottom: 1px solid grey;" href="#/app/bayar">
				Angsuran CSUL
			</ion-item>
			<ion-item style="border-bottom: 1px solid grey;" href="#/app/bayar">
				Bayar Denda
			</ion-item>
			<ion-item style="border-bottom: 1px solid grey;" href="#/app/bayar">
				Bayar Belanja
			</ion-item>
			<ion-item style="border-bottom: 1px solid grey;" href="#/app/bayar">
				Transfer
			</ion-item>
			<ion-item style="border-bottom: 1px solid grey;" href="#/app/bayar">
				Cek Transaksi
			</ion-item>
			<ion-item style="border-bottom: 1px solid grey;" href="#/app/bayar">
				Cek Poin
			</ion-item>
		</div>
    </ion-content>
</ion-view>