<ion-view view-title="Angsuran">
    <ion-content>
        <div class="im-wrapper">
            <div class="text-center">
        		Pembayaran Angsuran
        	</div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Angsuran</span>
                    <input type="text" placeholder="Angsuran">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Jumlah Angsuran</span>
                    <input type="text" placeholder="Jumlah Angsuran">
                </label>
                <button class="button col-md-12 button-block button-assertive waves-effect waves-button waves-light" >Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>