<ion-view view-title="Bayar Tagihan BPJS">
    <ion-content>
        <div class="im-wrapper">
        	<div class="text-center">
        		Pembayaran Tagihan BPJS Kesehatan
        	</div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">No BPJS </span>
                    <input type="text" placeholder="No BPJS">
                </label>
                <br>
                <div>Syarat dan ketentuan berlaku </div>
                <button class="button col-md-12 button-block button-assertive waves-effect waves-button waves-light"> <i class="fa fa-money"></i> Bayar</button>
            </div>
        </div>
    </ion-content>
</ion-view>
