<ion-view view-title="BPJS ">
	<ion-content>
		<div>
			<div class="list condensed-space">
				<div class="card dark-bg in" style="transition-delay: 0.27s;">
					<a href="#/app/bpjs" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
						<h2>BPJS Kesehatan</h2>
						<p>Optimalkan Implementasi Program JKN-KIS.</p>
						<img src="img/bpjs_kesehatan.jpg" style="transition-delay: 0.02s;">
					</a>
				</div>
				<div class="card dark-bg in" style="transition-delay: 0.13s;">
					<a href="#/app/bpjs" class="item clear-bg item-bg-image waves-effect waves-button waves-light">
						<h2>BPJS Ketenagakerjaan</h2>
						<p>BPJS Ketenagakerjaan Jaminan sosial untuk pekerja.</p>
						<img src="img/bpjs_kesehatan.jpg" style="transition-delay: 0.02s;">
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>