<ion-view view-title="Bayar Tagihan">
    <ion-content>
        <div class="im-wrapper">
        	<div class="text-center">
        		Pembayaran Kartu Kredit
        	</div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">No Kartu Kredit</span>
                    <input type="text" placeholder="No Kartu Kredit">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Jumlah Pembayaran</span>
                    <input type="text" placeholder="Jumlah Pembayaran">
                </label>
                <button class="button col-md-12 button-block button-assertive waves-effect waves-button waves-light" >Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>
