<ion-view view-title="Bank">
    <ion-content>
        <div class="list">
		    <ion-item href="#/app/cc-input" style="border-bottom: 1px solid grey;">
				Bank Mega
			</ion-item>
			<ion-item href="#/app/cc-input" style="border-bottom: 1px solid grey;">
				Bank Mandiri
			</ion-item>
			<ion-item href="#/app/cc-input" style="border-bottom: 1px solid grey;">
				Bank BCA
			</ion-item>
			<ion-item href="#/app/cc-input" style="border-bottom: 1px solid grey;">
				Bank BII
			</ion-item>
			<ion-item href="#/app/cc-input" style="border-bottom: 1px solid grey;">
				Bank CIMB NIAGA
			</ion-item>
			<ion-item href="#/app/cc-input" style="border-bottom: 1px solid grey;">
				Bank DANAMON
			</ion-item>
			<ion-item href="#/app/cc-input" style="border-bottom: 1px solid grey;">
				Bank Bukopin
			</ion-item>
		</div>
    </ion-content>
</ion-view>