<ion-view view-title="Tagihan Kartu Kredit">
<ion-content>
<div class="im-wrapper">
	<div class="list">
		<br><br>
		<label class="item item-input item-floating-label">
			<span class="input-label">No Kartu Kredit</span>
			<input type="text" placeholder="Contoh 4811-1111-1111-1114 ">
		</label>
		<br>
		<label class="item item-input item-floating-label">
			<span class="input-label">Nominal Pembayaran</span>
			<input type="text" placeholder="Contoh 1.000.000.000">
		</label>
		<br>
		<label class="item item-input item-select">
			<div class="input-label">
				Bank
			</div>
			<select name="kartu">
				<option value="0">Bank Mandiri</option>
				<option selected="" value="1">Bank BCA</option>
				<option value="2">Bank MEGA</option>
				<option value="3">Bank BII</option>
				<option value="4">Bank BUKOPIN</option>
				<option value="5">Bank BTN</option>
			</select>
		</label>
		<br><br>
		<div>Syarat dan ketentuan berlaku </div>
		<br>
		<button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
			<i class="fa fa-money"></i> Bayar
		</button>
	</div>
</div>
</ion-content>
</ion-view>