<ion-view view-title="Code Voucher">
    <ion-content>
        <div class="text-center content double-padding">
            <h4 class="positive">
                Code Voucher
            </h4>
            <p class="text-muted">
                Cara Penggunaan
                <ul class="text-left padding">
                    <li>- Pergi ke kasir </li>
                    <li>- Tunjukkan Code Voucher anda kepada kasir </li>
                    <li>- Scan QR CODE yang tertera pada aplikasi oleh kasir</li>
                    <li>- Masukkan code verifikasi yang telah di scan kasir</li>
                    <li>- Selesai </li>
                </ul>
            </p>
            <img src="img/qrcode.jpg" alt="" width="200">
            <div>
                GHY67523HJUY
            </div>
            <div class="double-padding text-center" style="margin: 30px 0px">
                <input type="text" placeholder="1" style="width:30%;border:1px solid black;float: left;margin-right: 10px;padding:3px">
                <input type="text" placeholder="2" style="width:30%;border:1px solid black;float: left;margin-right: 10px;padding:3px">
                <input type="text" placeholder="3" style="width:30%;border:1px solid black;float: left;margin-right: 10px;padding:3px">
            </div>
            <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ui-sref="app.codetukar">
              <i class="icon ion-ios-navigate-outline"></i> Submit
            </button>
        </div>
    </ion-content>
</ion-view>