<ion-view view-title="Informasi">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" slide-interval="3000">
      <ion-slide>
          <img src="img/banner3.png" width="375">
      </ion-slide>
      <ion-slide>
        <img src="img/banner4.png" width="375">
      </ion-slide>
      <ion-slide>
        <img src="img/banner5.png" width="375">
      </ion-slide>
    </ion-slide-box>
    <div class="im-wrapper">
      <h4 class="positive">Promo </h4>
      <div class="list card">
        <div class="item">
          <h2>Promo</h2>
          <p>November 05, 2016</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="img/finance.png">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>
      </div>
      <div class="list card">
        <div class="item">
          <h2>Get Your ticket now</h2>
          <p>November 05, 2016</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="img/Company-accounts.jpg">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>
      </div>
      <div class="list card">
        <div class="item">
          <h2>Promo</h2>
          <p>November 05, 2016</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="img/Company-accounts.jpg">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>
      </div>
      
    </div>
  </ion-content>
</ion-view>