<ion-view view-title="Informasi">

    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="box blue"><h1>BLUE</h1></div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow"><h1>YELLOW</h1></div>
          </ion-slide>
          <ion-slide>
            <div class="box pink"><h1>PINK</h1></div>
          </ion-slide>
        </ion-slide-box>
        <div class="im-wrapper">
          <div class="list card">
            <div class="item">
              <h2>Promo</h2>
              <p>November 05, 2016</p>
            </div>
            <div class="item item-body">
              <img class="full-image" src="img/finance.png">
              <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              </p>
            </div>
          </div>

          <div class="list card">
            <div class="item">
              <h2>Promo</h2>
              <p>November 05, 2016</p>
            </div>
            <div class="item item-body">
              <img class="full-image" src="img/Company-accounts.jpg">
              <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              </p>
            </div>
          </div>

          <div class="list card">
            <div class="item">
              <h2>Promo</h2>
              <p>November 05, 2016</p>
            </div>
            <div class="item item-body">
              <img class="full-image" src="img/Company-accounts.jpg">
              <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              </p>
            </div>
          </div>
          
        </div>
    </ion-content>
</ion-view>