<ion-view view-title="Pembelian">
  <ion-content>
    <div class="list condensed-space">
          <div class="card dark-bg in" style="transition-delay: 0.13s;">
              <a href="#/app/pulsa"class="item clear-bg item-bg-image waves-effect waves-button waves-light">
                  <h2>Isi Ulang Pulsa</h2>
                  <p>Isi ulang Pulsa Anda melalui Aplikasi Online</p>
                  <img src="img/agen-pulsa-mura.jpg" style="transition-delay: 0.02s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.27s;">
              <a class="item clear-bg item-bg-image waves-effect waves-button waves-light">
                  <h2>Game Voucher</h2>
                  <p>Menjual berbagai jenis voucher game online.</p>
                  <img src="img/creditcard.png" style="transition-delay: 0.09s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.13s;">
              <a href="#/app/token" class="item clear-bg item-bg-image waves-effect waves-button waves-light" style="background-image: img/listrik-prabayar.png">
                  <h2>Token Listrik</h2>
                  <p>Isi ulang token anda melalui kami</p>
                  <img src="img/token-listrik.jpg" style="transition-delay: 0.02s;">
              </a>
          </div>
      </div>
  </ion-content>
</ion-view>