<ion-view view-title="Pembayaran">
  <ion-content>
    <div class="list condensed-space">
          <div class="card dark-bg in" style="transition-delay: 0.13s;">
              <a href="#/app/bpjs-list" class="item clear-bg item-bg-image waves-effect waves-button waves-light">
                  <h2>BPJS</h2>
                  <p>BPJS adalah Badan Penyelenggara Jaminan Sosial yang dibentuk pemerintah untuk memberikan Jaminan untuk Masyarakat.</p>
                  <img src="img/bpjs-kess.jpg" style="transition-delay: 0.02s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.27s;">
              <a href="#/app/cc" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>Kartu Kredit</h2>
                  <p>Sistem kartu kredit adalah suatu jenis penyelesaian transaksi ritel (retail) dan sistem kredit,</p>
                  <img src="img/creditcard.png" style="transition-delay: 0.09s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.4s;">
              <a href="#/app/pln" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>PLN</h2>
                  <p> Tagihan Rekening Listrik PLN Secara Online.</p>
                  <img src="img/pln.jpg" style="transition-delay: 0.18s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.54s;">
              <a href="#/app/speedy" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>Telkom Speedy</h2>
                  <p>Telkom Indihome atau Speedy dan channel UseeTV</p>
                  <img src="img/indihome.jpg" style="transition-delay: 0.27s;">
              </a>
          </div>
          <div class="card dark-bg">
              <a href="#/app/fmedia" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>Firstmedia</h2>
                  <p>First Media adalah layanan High Speed Internet Rumah & HD Cable TV terdepan di Indonesia.</p>
                  <img src="img/first-media.jpg">
              </a>
          </div>
      </div>
  </ion-content>
</ion-view>