<ion-view view-title="Tagihan PLN">
    <ion-content>
        <div class="im-wrapper">
        	<div class="text-center">
        		Bayar Tagihan PLN
        	</div>
            <div class="list">
                <br>
                <label class="item item-input item-floating-label">
                    <span class="input-label">No ID Pelanggan</span>
                    <input type="text" placeholder="No ID Pelanggan">
                </label>
                <br>
                <div>Syarat dan ketentuan berlaku </div>
                <br>
                <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    <i class="fa fa-money"></i> Bayar
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
