
<ion-view view-title="Pulsa">
    <ion-content>
        <div class="im-wrapper">
            <div class="list card">
            	<div class="item item-avatar">
				    <h2>Indosat Oredoo</h2>
				</div>
              <div class="item item-image">
                <img src="img/cara-cek-nomor-indosat.png" width="30">
              </div>

              <a class="item item-icon-left assertive" href="#/app/list">
                <i class="icon ion-android-cart"></i>
                Beli
              </a>

            </div>
            <div class="list card">
            	<div class="item item-avatar">
				    <h2>Telkomsel</h2>
				</div>
              <div class="item item-image">
                <img src="img/telkomsel-logo.png" width="30">
              </div>

              <a class="item item-icon-left assertive" href="#/app/list">
                <i class="icon ion-android-cart"></i>
                Beli
              </a>

            </div>
            <div class="list card">
            	<div class="item item-avatar">
				    <h2>Kartu Tri</h2>
				</div>
              	<div class="item item-image">
	                <img src="img/3.jpg" width="30">
    	        </div>

              <a class="item item-icon-left assertive" href="#/app/list">
                <i class="icon ion-android-cart"></i>
                Beli
              </a>

            </div>
        </div>
    </ion-content>
</ion-view>
