<ion-view view-title="Pembelian Pulsa">
<ion-content>
<div class="im-wrapper">
  <div class="list">
    <br><br>
    <label class="item item-input item-floating-label">
      <span class="input-label"></span>
      <input type="text" placeholder="0856-7000-6000">
    </label>
    <br>
    <label class="item item-input item-select">
        <select >
            <option value="Laa-Laa">Tri</option>
            <option selected="" value="Indosat">Indosat</option>
            <option value="Dipsy">Dipsy</option>
            <option value="Po">Po</option>
            <option value="Noo-noo">Noo-noo</option>
        </select>
    </label>
    <br><br>
    <div>*Syarat dan ketentuan berlaku </div>
    <br>
    <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
      <i class="icon ion-android-cart"></i> Beli
    </button>
  </div>
</div>
</ion-content>
</ion-view>