<ion-view view-title="Tagihan ">
    <ion-content>
        <div class="list">
		    <a class="item" href="#/app/input" style="border-bottom: 1px solid grey;">
		      <h2>PDAM</h2>
		      <p>PAM JAYA memberikan pelayanan air minum.</p>
		    </a>
		    <a class="item" href="#/app/input" style="border-bottom: 1px solid grey;">
		      <h2>Listrik</h2>
		      <p>Bayar tagihan rekening listrik.</p>
		    </a>
		    <a class="item" href="#/app/input" style="border-bottom: 1px solid grey;">
		      <h2>Token Listrik</h2>
		      <p>Token PLN prabayar termurah</p>
		    </a>
		</div>
    </ion-content>
</ion-view>
