<ion-view view-title="Pembelian Token">
<ion-content>
<div class="im-wrapper">
  <div class="list">
    <br><br>
    <label class="item item-input item-floating-label">
      <span class="input-label">Nomor Meter </span>
      <input type="text" placeholder="Contoh 8981289129092">
    </label>
    <br>
    <label class="item item-input item-select">
        <div class="input-label">
            Nominal
        </div>
        <select name="nominal">
            <option value="0" selected>20.000</option>
            <option value="1">50.000</option>
            <option value="2">100.000</option>
            <option value="3">150.000</option>
            <option value="4">200.000</option>
        </select>
    </label>
    <br><br>
    <div>Syarat dan ketentuan berlaku </div>
    <br>
    <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
      <i class="icon ion-android-cart"></i> Beli
    </button>
  </div>
</div>
</ion-content>
</ion-view>