<ion-view view-title="Tukar Poin">
<ion-content>
   <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list half">
            <div ui-sref="app.detailtukar" class="card card-gallery item item-text-wrap" href="#/app/detailtukar">
                <div class="ink dark-bg">
                    <h2>Voucher Ta Wan</h2>
                    <img class="full-image" src="img/tawan.jpeg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item assertive">
                        <i class="icon ion-heart"></i>
                        1500 poin
                    </a>
                </div>
            </div>
            <div ui-sref="app.detailtukar" class="card card-gallery item item-text-wrap" href="#/app/detailtukar">
                <div class="ink dark-bg">
                    <h2>Voucher Holycow</h2>
                    <img class="full-image" src="img/holycow.png">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item assertive">
                        <i class="icon ion-heart"></i>
                        1500 poin
                    </a>
                </div>
            </div>
        </div>
        <div class="list half">
            <div ui-sref="app.detailtukar" class="card card-gallery item item-text-wrap" href="#/app/detailtukar">
                <div class="ink dark-bg">
                    <h2>Handphone</h2>
                    <img class="full-image" src="img/holycow.png">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item assertive">
                        <i class="icon ion-heart"></i>
                        2500 poin
                    </a>
                </div>
            </div>
            <div ui-sref="app.detailtukar" class="card card-gallery item item-text-wrap" href="#/app/detailtukar">
                <div class="ink dark-bg">
                    <h2>Parfum</h2>
                    <img class="full-image" src="img/holycow.png">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item assertive">
                        <i class="icon ion-heart"></i>
                        1500 poin
                    </a>
                </div>
            </div>
        </div>
    </div>
</ion-content>
</ion-view>

<ion-view view-title="Pembayaran">
  <ion-content>
    <div class="list condensed-space">
          <div class="card dark-bg in" style="transition-delay: 0.13s;">
              <a href="#/app/detailtukar" class="item clear-bg item-bg-image waves-effect waves-button waves-light">
                  <h2>TA WAN</h2>
                  <p>Voucher Ta Wan.</p>
                  <p>1500 poin</p>
                  <img src="img/int.jpg" style="transition-delay: 0.02s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.27s;">
              <a href="#/app/detailtukar" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>IMPERIAL KITCHEN</h2>
                  <p>Voucher IMPERIAL KITCHEN</p>
                  <p>1000 poin</p>
                  <img src="img/IMPERIAL-KITCHEN.jpg" style="transition-delay: 0.09s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.13s;">
              <a href="#/app/detailtukar" class="item clear-bg item-bg-image waves-effect waves-button waves-light">
                  <h2>Hanamasa</h2>
                  <p>Voucher Hanamasa.</p>
                  <p>1500 poin</p>
                  <img src="img/hanamasa.png" style="transition-delay: 0.02s;">
              </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.27s;">
              <a href="#/app/detailtukar" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                  <h2>Sate Senayan</h2>
                  <p>Voucher Sate Senayan</p>
                  <p>1000 poin</p>
                  <img src="img/Sate-Khas-Senayan-Express-Plaza-Senayan.jpg" style="transition-delay: 0.09s;">
              </a>
          </div>
      </div>
  </ion-content>
</ion-view>